@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OnlineShope.Models.SpacialTag;
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Cteate Product Type</h2>
<form asp-action="Create" method="post">

    <div class="p-3 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Condition"></label>
            </div>
            <div class="col-5 w-25">
                <input asp-for="Condition" class="form-control" />
            </div>
            <br /><br />
            <span class="text-danger" asp-validation-for="Condition"></span>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Save" />
        <a class="btn btn-primary" asp-action="Index"> Back List</a>


    </div>

    </div>

</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

