@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OnlineShope.Models.Products;
@{
    ViewData["Title"] = "Product Add";
}

<br />
<h2 class="text-info">Add Product</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="p-3 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5 w-25">
                <input asp-for="Name" class="form-control" />
            </div>
            <br /><br />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Price"></label>
            </div>
            <div class="col-5 w-25">
                <input asp-for="Price" class="form-control" />
            </div>
            <br /><br />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductColor"></label>
            </div>
            <div class="col-5 w-25">
                <input asp-for="ProductColor" class="form-control" />
            </div>
            <br /><br />
            <span class="text-danger" asp-validation-for="ProductColor"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Img"></label>
            </div>
            <div class="col-5 w-25">
                <input asp-for="Img" class="form-control" type="file" name="Image" />
            </div>
            <br /><br />
            <span class="text-danger" asp-validation-for="Img"></span>
        </div>
       
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductTypeId"></label>
            </div>
            <div class="col-5 w-25">
                <select asp-items="ViewBag.productTypeId" asp-for="ProductTypeId" class="form-control"></select>
               @*  <input asp-for="ProductTypeId" class="form-control" /> *@
            </div>
            <br /><br />
            <span class="text-danger" asp-validation-for="ProductTypeId"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SpacialTagId"></label>
            </div>
            <div class="col-5 w-25">
                <select asp-for="SpacialTagId" asp-items="ViewBag.SpacialTagId" class="form-control"></select>
                @* <input asp-for="SpacialTagId" class="form-control" /> *@
            </div>
            <br /><br />
            <span class="text-danger" asp-validation-for="SpacialTagId"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Available"></label>
            </div>
            <div class="col-5 w-25">
                <input asp-for="Available" class="" type="checkbox" />
            </div>
            <br /><br />
            <span class="text-danger" asp-validation-for="Available"></span>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Save" />
        <a class="btn btn-primary" asp-action="Index"> Back List</a>


    </div>

    </div>

</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
